log/*
tmp/*
doc/app/*
db/schema.rb
db/*.sqlite3
coverage
*~
*.swp
coverage.data
.idea
dump.rdb
xml
.bundle
bin
vendor/gems/*
.DS_Store
.gitconfig
.rvmrc
vendor/bundle
vendor/cache
.sass-cache*
*.log
*screen.css
*ie.css
*print.css
.irbrc
.yard*
tags
